@media (min-width: 1200px) {
    .container {
        width: 980px;
    }
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #555;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    float: left;
    width: auto;
    height: 70px;
    font-size: 24px;
    background-size: 100% 70px;
    line-height: 2.3;
}

.logo:before,
.logo:after {
    content: " ";
    display: table;
}

.logo.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nav {
    display: block;
}

.nav.nav-header {
    float: right;
}

.nav > li {
    float: left;
    position: relative;
    display: block;
    min-width: 120px;
}

.content {
    float: left;
    clear: both;
}

a {
    text-decoration: none;
}