/**
  累了一天了
  放松一下
  我们来写个css样式
  先来个容器吧
*/

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


/**
  给头部加个粉色背景
*/

.container .container-header {
    background-color: pink;
}


/**
  给底部加个黑色背景
*/

.container .container-footer {
    background-color: black;
}


/**
  给...等等
  这代码的样子好丑 :)
  我们先有优化下吧
  改变下
  字的大小
  行间距
  字体
  字间距
  背景色
  字的颜色
*/

.cm-s-supershy {
    font-size: 1em;
    line-height: 1.5em;
    font-family: inconsolata, monospace;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    background: #151515;
    color: #B2B2B2;
}


/**
  给注释也变美一下
*/

.cm-s-supershy .cm-comment {
    font-style: italic;
    color: #00A6FF;
}


/**
  key的颜色
*/

.cm-s-supershy .cm-property {
    color: #7272ff;
}


/**
  value的颜色
*/

.cm-s-supershy .cm-atom {
    color: #c737ab;
}


/**
  选择器增加个亮眼的颜色吧
*/

.cm-s-supershy .cm-qualifier {
    color: #55fd55;
}

.cm-s-supershy div.CodeMirror-cursor {
    border-left: 3px solid #B2B2B2;
}


/**
  数字变个色儿
*/

.cm-s-supershy .cm-number {
    color: #bf91ff;
}

.cm-s-supershy .CodeMirror-activeline-background {
    background: #000C16;
}


/**
  调整下编辑器的宽度吧
*/

.cm-s-supershy {
    width: 700px;
}


/**
  最后咱们把这个编辑居中吧
*/

.cm-s-supershy {
    position: absolute;
    left: 50%;
    margin-left: -350px;
}


/**
  就到这吧
  手机端样式还有问题 下次继续优化
  睡了~8
*/
