/**
  今天是css教程的第一节
  希望你最好知道什么是css
  不过不知道也无妨，我带领大家来认识一下它
  
  记得看过一个人这么描述过：
  如果html是人的骨架
  那css就相当于人的衣服
  而js是可以让这个人动起来

  很形象吧。。。
  （当然你说css3也可以让人动起来，js也可以控制美观，这个就是后话了）
  大家准备好了么，开始上课
  第一讲：color
  我们已经看到右边静静地出现了“hello world”
  来改变下它的颜色吧
*/

.container {
    color: red;
}


/**
  well done，看起来很简单
  有些人刚开始学可能会问上面是什么鬼？
  啥意思嘛。。。
  是第一节，就啰嗦一些

  其实我的需求就是
  喂，那个“hello world”，我要改变你的颜色，变成红的
  但这个hello world在哪里呢？
  在.container里
  改变颜色对应的属性是color
  因为是红色对应的值就是red

  也就是说css只是把我们需要的人类描述的语言，通过标准化来规范了一下而已
  大家都按照这个标准，就可以让我们的html变得绚丽起来~~~
*/

.container {
    color: green;
}


/**
  欧耶，变成了绿色 哈哈
  有人要问“css的颜色就是个这呀 好简单”
  确实是这样的，不过我们要知道，颜色的值可不仅仅是这些“red”、“green”等的单词哦
  因为世界是五颜六色的，仅仅靠这些关键字是不会包含这么多的
  （用过Photoshop的朋友就知道，那颜色板的颜色那可是相当地多）
  回归正题，css中颜色值得类型有以下几种：
  1.keyword
  2.Hex Code
  3.RGB
  4.RGBA
  5.HSL
  6.HSLA
  我们上面的写法就是keyword，但keyword范围有限（应该是140种）
  而且每个浏览器表现出来的样子可能略有不同，而且有的还不兼容，在项目中不建议使用
  其他几个类型的我们通过举例来说吧
*/

.container {
    color: #e87f7f;
}


/**
  看到了吧，通过这种方式改变了颜色（我是随便取的色，不过还蛮好看的^_^）
  这种叫做十六进制色（Hex Code），也就是说每一位都有16种
  那总数就是16*16*16*16*16*16=？自己算，总之是很多的
  
  下面我们来看看RGB
*/

.container {
    color: rgb(87, 64, 64);
}


/**
  这种的每一位是0~255的整数，当然也可以是百分比
  范围我就不算了，反正也挺多的
*/

.container {
    color: rgba(87, 64, 64, 0.5);
}

/**
  而rgba呢，就是相当于在rgb颜色基础上加了透明度
  小知识：
  如果需要背景是半透明的
  而背景中的文字不改变
  使用它非常好用
  不然就得使用z-index加div来处理了，之后我们会说到
*/

.container {
  color: hsl(121, 49%, 48%);
}

.container {
  color: hsla(121, 49%, 48%, 0.7);
}

/**
  这个和rgb(a)的类似，只要记得
  rgb是通过红、绿、蓝来控制我们的颜色的
  hsl是通过色调、饱和度、亮度来控制的

  我自己是用16进制的是最多的，rgb用的不多，hsl几乎没用过
  所以大家选个好理解的用就ok了
*/
